/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'); */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'roboto-thin';
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'roboto-italic';
    src: url('../fonts/Roboto-Italic.ttf');
}

:root {
    /* --green: #98901A; */
    --green: #24aea9;
    --dark-green: #1a7471;
    --light-green: #2bc7c1;
    /* --dark: #1c2830; */
    --dark: #1c2a33;
    --light-dark: #20303a;
    --white: #fff;
    --light: #f5f5f5;
    --secondary: #ddd;
    --dark-secondary: #b9b9b9;
    --light-secondary: #eee;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto-light', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

textarea {
    resize: none;
}

.header {
    position: fixed;
    top: 0; left: 0;
    color: var(--white);
    width: 100%;
    transition: 0.3s ease;
}
.header.fixed {
    z-index: 100;
}
.header .navbar-menu {
    padding: .4em;
    border-radius: .2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header.fixed .navbar-menu {
    background-color: var(--green);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    opacity: .9;
}
.header.fixed .navbar-menu-item {
    color: var(--white);
}
.header > .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2em;
    font-size: 22px;
}
.header .navbar > .navbar-top {
    height: 6em;
    transition: height 0.3s ease-in;
}
.header.fixed .navbar > .navbar-top {
    height: 0;
}

.navbar-menu > .navbar-menu-item {
    text-decoration: none;
    color: var(--green);
    opacity: .9;
    text-transform: uppercase;
    margin: 0 .3em;
    position: relative;
    padding: .2em .4em;
    overflow: hidden;
    text-align: center;
}
.navbar-menu > .navbar-menu-item span {
    font-family: 'roboto-medium', sans-serif !important;
}
.navbar-menu-item.active  {
    color: var(--green) !important;
    /* background-color: var(--green); */
    border-radius: 3px;
}
.navbar-menu-item::before  {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: var(--white);
    z-index: -1;
    transition: transform 0.4s;
    transform-origin: left;
    transform: scaleX(0);
}
.navbar-menu-item.active::before  {
    transform: scaleX(1);
}
.navbar-menu > .navbar-menu-item:hover {
    color: var(--green);
}

.body {
    transition: all ease;
    overflow-x: hidden;
}

.body > section {
    min-height: 100vh;
    width: 100%;
}
section .title {
    position: absolute;
    flex-direction: column;
    padding: 2em 0; 
    transform: translateY(-4em);
    width: 100%;;
    z-index: 10;
}
section .title span {
    font-size: 0;
    color: var(--white);
    padding: .2em;
    height: 80px; width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--green);
}
section .title span:hover i {
    animation: shake .5s infinite;
}
section .title h1 {
    font-size: 24px;
    font-family: 'roboto-light';
    color: var(--green);
    padding: .3em;
    text-align: center;
    text-transform: uppercase;
}
section .title.dark span {
    color: var(--green);
    background-color: var(--light);
}
section .title.dark h1 {
    color: var(--light);
}
section .title.dark.white h1 {
    color: var(--green) !important;
}
.flex {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.section-home {
    background-color: transparent !important;
}
.constellation {
    background-image: url('../images/svg/constellation.svg');
    position: fixed;
    width: 100%; height: 100vh;
    z-index: -100;
}
.home-slogan {
    text-align: center;
    padding: 2em;
    margin-bottom: 3em;
}
.home-slogan > h1 {
    font-size: 40px;
    color: var(--secondary);
    margin: .5em 0;
}
.home-slogan > p {
    font-size: 25px;
    color: var(--dark-secondary);
}
.section-about {
    background-color: var(--green) !important;
    min-height: 60vh !important;
}
.about-content {
    padding: 6em 2em;
    min-height: 60vh;
}
.about-content p {
    max-width: 1000px !important;
    font-family: 'roboto-light' !important;
    line-height: 1.5em;
    color: var(--light);
}
.profile {
    text-align: center;
    width: 100%;
}
.profile > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid var(--dark-green);
}

.paragraph > h1 {
    margin: 12px 0;
    font-size: 25px;
    font-family: 'roboto-medium';
    text-transform: uppercase;
}
.paragraph > p {
    margin: .6em 0;
    font-size: 20px;
    text-align: center;
}
.section-skills {
    display: block !important;
    min-height: auto !important;
    background-color: var(--light-secondary) !important;
}
.section-skills .top {
    height: 30vh;
    width: 100%;
    background-color: var(--green);
}
.section-skills .bottom {
    transform: translateY(-30vh);
    margin-bottom: -20vh;
}
.skills-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dev-skill {
    display: flex;
    justify-content: center;
    align-content: center;
}
.skills-list > div {
    background-color: var(--white);
    max-width: 400px;
    padding: 4em 2em;
}
.skills-list > div:nth-child(1) {
    background-color: var(--light);
}
.skills-list > div > div {
    margin: 2em 0;
}
.idea > span {
    height: 40px;
    width: 40px;
    font-size: 30px;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--light-green);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--white);
    margin-bottom: 1em;
}
.idea > h2 {
    font-family: 'roboto-regular';
    font-size: 20px;
    color: var(--light-green);
    margin-bottom: 1em;
}
.idea > p {
    font-size: 16px;
}
.skills-list .things > h3,
.skills-list .tools > h3{
    font-family: 'roboto-light';
    font-size: 16px;
    color: var(--green);
    margin: .5em 0;
}
.tools > ul li {
    list-style: none;
    font-family: 'roboto-regular';
    color: #40474d;
    margin: .3em;
}
.dev-skill .description {
    color:var(--dark);
}

.section-contact {
    display: flex;
}
.section-contact h1 {
    text-align: center;
}
.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.contact-form {
    padding: 6em 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.form {
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.form:nth-child(1) {
    border-radius: 0 80px 0 80px;
    background-color: var(--light-dark);
}
.form:nth-child(2) {
    border-radius: 80px 0 80px 0;
    background-color: var(--light-dark);
}
.other-contact {
    padding: 2em;
}
.other-contact > .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form > form, .form > .other-contact {
    width: 450px;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3em;
}
.form form > h2 {
    color: var(--green);
    font-size: 18px;
    text-transform: uppercase;
    padding: 1em 0;
    font-family: 'roboto-medium';
}
.form-group {
    padding: .3em;
    margin: .4em 0;
    position: relative;
    width: 100%;
}
.form-control {
    background-color: transparent;
    outline: none;
    width: 100%;
    padding: .8em;
    border: 2px solid var(--dark-green);
    border-radius: 2px;
    color: var(--white);
    font-family: 'roboto-light';
    font-size: 16px;
}
.form label {
    position: absolute;
    font-family: 'roboto-light';
    font-size: 16px;
    top: 1.2em;
    left: .6em;
    border-radius: 5px;
    padding: 0 .5em;
    color: var(--dark-secondary);
    transition: top 0.5s;
    background-color: var(--light-dark);
}
.form-control:not(:placeholder-shown) {
    background-color: var(--dark) !important;
}
.form-control:not(:placeholder-shown) ~ label,
.form-control:focus ~ label  {
    top: -0.2em;
    color: var(--dark);
    background-color: var(--light-green) !important;
}

.form-control:focus {
    background-color: var(--dark);
    box-shadow: 0 0 3px #2bc7c28e;
}
.form-button {
    text-align: center;
}
.form-group > button {
    padding: .8em 1.8em;
    border: none;
    border-radius: 2px;
    background-color: var(--dark-green);
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    color: var(--white);
    font-family: 'roboto-medium';
    font-size: 18px;
    transition: 0.3s ease;
}
.form-group > button:hover {
    background-color: var(--light-green);
    cursor: pointer;
    color: #18242c;
}
.profils > p {
    text-align: center;
    font-family: 'roboto-thin';
}
.footer {
    color: var(--white);
    background-color: var(--light-dark);
}
.footer-top {
    padding: 1em 2em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-top > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    min-width: 280px;
    text-align: left;
}
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
    background-color: var(--dark);
    text-align: center;
}
.footer-bottom p {
    padding: 1em 20px;
    text-align: center;
    color: var(--dark-secondary);
}
.social-media {
    width: 100%;
    /* padding: 0 .4em; */
}
.social-media h3 {
    color: var(--light-green);
    padding: .1em 0;
    margin: .5em 0;
    text-transform: uppercase;
    font-family: 'roboto-regular';
    font-size: 18px;
}
.social-media > .icon a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--secondary);
    font-size: 25px;
    margin: .6em;
}
.social-media > .icon a span {
    font-size: 16px;
    margin: 0 .4em;
}
.social-media > .icon a:hover {
    color: var(--green);
}

.other-contact .social-media h3 {
    color: var(--green);
    font-size: 18px;
}
.links {
    display: flex;
}

.section-work {
    background-color: var(--white) !important;
    display: block !important;
}

.work-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 6rem 2em;
    padding-top: 7em;
}
.work-item {
    background-color: var(--white);
    max-width: 500px;
    /* min-width: 280px; */
}
.work-item-content {
    position: relative;
}

.w-title {
    color: var(--light-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.w-title a {
    font-size: 20px;
    color: var(--secondary);
    margin: 0 .3em;
}
.w-title h3 {
    font-size: 18px;
}
.w-title a:hover {
    color: var(--light-green);
}
.work-item-content >div {
    padding: 1em;
}
.w-description {
    min-height: 250px;
}
.w-description p {
    color: var(--dark);
    font-size: 17px;
}
.w-description img {
    width: 100%;
    margin-top: 1em;
}
.w-link {
    text-align: center;
}
.w-link a {
    text-decoration: none;
    color: var(--light-green);
    font-family: 'roboto-italic';
    font-weight: 600;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* OBSERVED */

/* using observable to make animation */
/* before */
.section-about p {
    transition: opacity 0.8s, transform 0.6s ease-out;
    opacity: 0;
    transform: translateX(200px);
}

/**
    HOME SECTION
**/
.section-home h1 {
    transition: opacity 0.3s;
    opacity: 0;
}
.section-home p {
    transition: opacity 0.6s;
    transition-delay: .6s;
    opacity: 0;
}
.section-home img {
    transition: opacity 0.8s, transform 0.6s;
    opacity: 0;
    transform: translateY(-100px);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.section-home.observed img,
.section-home.observed h1,
.section-home.observed p
{
    opacity: 1;
    transform: translateY(0);
}

/**
    Section TITLe
*/
section .title {
    transition: opacity 0.3s ease;
    opacity: 0;
}
section.observed .title {
    opacity: 1;
}
section .title span {
    font-size: 0;
    transition: font-size 0.3s ease-out;
}
section.observed .title span {
    font-size: 35px;
}
section.observed .title span i {
    animation: shake .5s normal;
    animation-iteration-count: 2;
}

.section-skills .front-end {
    transform-origin: right;
    transform: rotateY(90deg);
}
.section-skills .back-end {
    transform-origin: left;
    transform: rotateY(-90deg);
}
.skills-list > div {
    transform: perspective(1000px);
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out,
                opacity .2s ease-in;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.skills-list {
    perspective: 2000px;
}
.section-skills.observed .front-end,
.section-skills.observed .back-end {
    transform: rotateY(0);
}
/* after */
.section-about.observed p,
.section-about.observed img,
.section-about.observed h1 {
    transform: translateX(0);
    opacity: 1;
}
.work-item {
    overflow: hidden;
}

.section-work .work-item .w-description img {
    transition: transform .6s ease,
                opacity 0.3s;
}
.section-work .work-item .w-description p {
    transition: transform .6s ease,
                opacity 0.4s;
    transition-delay: .3s;
    opacity: 0;
}
.section-work .work-item .w-title {
    transition: opacity 0.3s;
    opacity: 0;
    transition-delay: 0.3s;
}
.section-work .work-item .w-description img {
    transform: translateY(-180px);
}
.section-work .work-item .w-description p {
    transform: translateX(-300px);
}
.section-work.observed .work-item .w-description img{
    transform: translateY(0);
}
.section-work.observed .work-item .w-description p,
.section-work.observed .work-item .w-title {
    transform: translateX(0);
    opacity: 1;
}

/* CONTACT FORM */
.section-contact .form {
    overflow: hidden;
}
.section-contact .other-contact,
.section-contact form {
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0.9, 1.8, 0.4, 0.8);
}
.section-contact .other-contact {
    transform-origin: right;
    transform: translateX(500px);
}
.section-contact form {
    transform-origin: left;
    transform: translateX(-500px);
}
.section-contact.observed .other-contact,
.section-contact.observed form {
    transform: translateX(0);
}

form .issuccess {
    color:var(--light-green);
    transition: transform 0.5s;
    transform: translateX(1000px);
    position: absolute;
    top: 0;
}
form.success .issuccess {
    transform: translateX(0);
}
form.success .form-button > button{
    transform: translateX(-500px);
}

/* end OBSERVED */

/* about section responsive */
@media screen and (max-width: 1280px) {
    
    section .title span {
        height: 70px; width: 70px;
    }
    section.observed .title span {
        font-size: 30px;
    }
    section .title h1 {
        font-size: 20px;
    }
    .header > .navbar {
        font-size: 20px;
    }
    .about-content {
        flex-wrap: wrap;
    }
    .profile > img {
        width: 200px;
        height: 200px;
    }
    .paragraph > h1 {
        margin: 0;
        text-align: center;
        font-size: 20px;
    }
    .paragraph > p {
        font-size: 16px;
    }
    .form label, .form-control {
        font-size: 16px;
    }
    .social-media > .icon a {
        font-size: 20px;
    }
    .social-media > .icon a span {
        font-size: 15px;
    }
    .social-media h3 {
        font-size: 16px;
    }
    
    .home-slogan > h1 {
        font-size: 35px;
    }
    .home-slogan > p {
        font-size: 20px;
    }
    .idea > span {
        height: 30px;
        width: 30px;
        font-size: 25px;
        padding: 1em;
    }
    .idea > h2 {
        font-size: 18px;
    }
    .skills-list .things > h3,
    .skills-list .tools > h3,
    .w-title h3 {
        font-size: 16px;
    }
    .tools > ul > li, .things > p, .idea > p,
    .w-description p {
        font-size: 15px;
    }
}
@media screen and (max-width: 814px) {
    
    section .title span {
        height: 65px; width: 65px;
    }
    section.observed .title span {
        font-size: 25px;
    }
    section .title h1 {
        font-size: 18px;
    }
    .header > .navbar {
        font-size: 16px;
    }
    .paragraph > p {
        font-size: 15px;
    }
    .profile > img {
        width: 180px;
        height: 180px;
    }
    .navbar-menu > .navbar-menu-item:hover::before {
        height: 2px;
    }
    .form label, .form-control {
        font-size: 14px;
        border-width: 1px;
    }
    .form-group > button {
        font-size: 14px;
    }
    .form-control {
        width: 100%;
    }
    .social-media > .icon a {
        font-size: 16px;
    }
    .social-media > .icon a span {
        font-size: 14px;
    }
    .social-media h3 {
        font-size: 15px;
    }
    .other-contact .social-media h3,
    .form form > h2 {
        font-size: 16px;
    }
    .footer {
        font-size: 14px;
    }

    .home-slogan > h1 {
        font-size: 30px;
    }
    .home-slogan > p {
        font-size: 16px;
    }
    .idea > span {
        height: 25px;
        width: 25px;
        font-size: 20px;
        padding: 1em;
    }
    .idea > h2 {
        font-size: 16px;
    }
    .skills-list .things > h3,
    .skills-list .tools > h3,
    .w-title h3 {
        font-size: 15px;
    }
    .tools > ul > li, .things > p, .idea > p,
    .w-description p {
        font-size: 14px;
    }
    
    .work-item-content {
        min-width: 280px;
    }
    
    .section-skills .front-end {
        transform-origin: left;
        transform: rotateY(0deg);
    }
    .section-skills .back-end {
        transform-origin: top;
        transform: rotateX(180deg);
        position: relative;
        perspective: 2000px;
    }
    .section-skills .back-end::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-color: var(--white);
        height: 100%; width: 100%;
        transform: translateZ(-1px);
    }
    .section-skills.observed .back-end {
        transform: rotateX(0);
    }
}


@media screen and (max-width: 375px) {
    
    .profile img {
        width: 160px; height: 160px;
    }
    .idea > span {
        height: 20px;
        width: 20px;
        font-size: 16px;
    }
    .idea > h2 {
        font-size: 13px;
    }
    .skills-list .things > h3,
    .skills-list .tools > h3,
    .w-title h3 {
        font-size: 14px;
    }
    .tools > ul > li, .things > p, .idea > p,
    .w-description p {
        font-size: 13px;
    }
}

@media screen and (max-width: 280px) {
    
    .form > form, .form > .other-contact {
        padding: 6em;
    }
    .navbar-menu > .navbar-menu-item{
        margin: 0 .1em;
        padding: .2em;
        font-size: 13px;
    }
    
    section .title {
        padding: 1.5em 0; 
        transform: translateY(-3em);
    }
    section .title span {
        height: 50px; width: 50px;
    }
    section.observed .title span {
        font-size: 25px;
    }
    section .title h1 {
        font-size: 16px;
    }
    .paragraph > p {
        font-size: 12px;
    }
    .navbar-menu > .navbar-menu-item:hover::before {
        height: 2px;
    }
    .form label, .form-control {
        font-size: 12px;
    }
    .form-group > button {
        font-size: 13px;
    }
    .social-media > .icon a {
        font-size: 13px;
    }
    .social-media > .icon a span {
        font-size: 12px;
    }
    .social-media h3 {
        font-size: 13px;
    }
    .other-contact .social-media h3,
    .form form > h2 {
        font-size: 13px;
    }
    .footer {
        font-size: 13px;
    }

    .home-slogan > h1 {
        font-size: 20px;
    }
    .home-slogan > p {
        font-size: 13px;
    }
    .profile img {
        width: 120px; height: 120px;
    }
    .idea > span {
        height: 20px;
        width: 20px;
        font-size: 18px;
    }
    .idea > h2 {
        font-size: 14px;
    }
    .skills-list .things > h3,
    .skills-list .tools > h3,
    .w-title h3 {
        font-size: 13px;
    }
    .tools > ul > li, .things > p, .idea > p,
    .w-description p {
        font-size: 12px;
    }
}